
// Font size
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Breakpoints for responsive
$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;


// Font family
$font-family-title: ;
$font-family-label: ;
$font-family-namesite: ;
$font-family-quotes: ;


// Colors
$color-text: #;
$color-text-alt : #;
$color-button: #;
$color-bg-first: #;
$color-bg-second: #;
$color-footer: #;
$color-white: #;
$color-light-text: #;


// Icons
$fa-font-path: "~font-awesome/fonts";

